<!doctype html>
<html lang="en">
<%- include('partial/head'); -%>

<body class=" ">
<a id="start"></a>
<%- include('partial/header'); -%>
<div class="main-container">
    <br>
    <div class="top_blunk"></div>
    <section class="space--xxs  icon-container">
        <div class="container benefits">
            <div class="row text-center icon_content first_row">
                <div class="col-sm-4 col-md-4">
                    <div class="left_icon">
                    </div>
                    <div class="right_content">
                        <p>
                            <strong data-item="feature_1">
                                <%= __('feature').high_speed %>
                            </strong>
                        </p>
                        <p data-item="feature_1_1">
                            <%= __('feature').high_speed_desc %>
                        </p>
                    </div>

                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="left_icon">
                    </div>
                    <div class="right_content">
                        <p>
                            <strong data-item="feature_2">
                                <%= __('feature').smart_contract %>
                            </strong>
                        </p>
                        <p data-item="feature_2_1">
                            <%= __('feature').smart_contract_desc %>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="left_icon">
                    </div>
                    <div class="right_content">
                        <p>
                            <strong data-item="feature_3">
                                <%= __('feature').low_fees %>
                            </strong>
                        </p>
                        <p data-item="feature_3_1">
                            <%= __('feature').low_fees_desc %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="midlle_blunk"></div>
            <div class="row text-center icon_content second_row">
                <div class="col-sm-4 col-md-4">
                    <div class="left_icon">
                    </div>
                    <div class="right_content">
                        <p>
                            <strong data-item="feature_4">
                                <%= __('feature').scalability %>
                            </strong>
                        </p>
                        <p data-item="feature_4_1">
                            <%= __('feature').scalability_desc %>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="left_icon">
                    </div>
                    <div class="right_content">
                        <p>
                            <strong data-item="feature_5">
                                <%= __('feature').decentralization %>
                            </strong>
                        </p>
                        <p data-item="feature_5_1">
                            <%= __('feature').decentralization_desc %>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="left_icon">
                    </div>
                    <div class="right_content">
                        <p>
                            <strong data-item="feature_6">
                                <%= __('feature').security %>
                            </strong>
                        </p>
                        <p data-item="feature_6_1">
                            <%= __('feature').security_desc %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class='section-container'>
            <div id="tool"></div>
            <section class="space--xxs tool_box">
                <div class="container">
                    <div class="row text-center">
                        <div class='col-sm-12 tittle_box'>
                            <div data-item="title_2" class="moblie_tool_tittle visible-xs title">
                                    <%= __('tool_box') %>
                            </div>
                            <div data-item="title_2" class="title hidden-xs hidden-small">
                                    <%= __('tool_box') %>
                            </div>
                        </div>
                    </div>
                    <div class="row content_box first_row">
                        <div class='item-body'>
                            <div class='item-container'>
                                <div class='title-container'><%= __('wormhole_sdk') %></div>
                                <a href="https://github.com/copernet/whc.go" target="_blank">
                                    <div class='btn-container'>
                                            <span class='github-icon'></span>
                                            <span class='text'>GitHub</span>
                                    </div>
                                </a>
                            </div>
                            <div class='item-container'>
                                    <div class='title-container'>Developer. Bitcoin.com</div>
                                    <a href="https://developer.bitcoin.com/" target='_blank'>
                                        <div class='btn-container'>
                                                <span class='text'><%= __('website') %></span>
                                        </div>
                                    </a>
                            </div>
                            <div class='item-container'>
                                    <div class='title-container'>Bitbox</div>
                                    <div class='btn-body'>
                                        <div class='item-b'>
                                            <a href="https://www.bitbox.earth/" target='_blank'>
                                                <div>
                                                    <span class='text'><%= __('website') %></span>
                                                </div>
                                            </a>    
                                        </div>
                                            <div class='item-b'>
                                                <a href="https://github.com/bigearth" target='_blank'>
                                                <div>
                                                    <span class='github-icon'></span>
                                                    <span class='text'>GitHub</span>
                                                </div>    
                                                </a>    
                                            </div>
                                    </div>
                            </div>
                        </div>
                        <div class='item-body'>
                            <div class='item-container'>
                                <div class='title-container'>Bitcoin-ABC</div>
                                <div class='btn-body'>
                                    <div class='item-b'>
                                        <a href="https://www.bitcoinabc.org/" target='_blank'>
                                            <div>
                                                <span class='text'><%= __('website') %></span>
                                            </div>
                                        </a>    
                                    </div>
                                    <div class='item-b'>
                                            <a href="https://github.com/Bitcoin-ABC/bitcoin-abc" target='_blank'>
                                            <div>
                                                <span class='github-icon'></span>
                                                <span class='text'>GitHub</span>
                                            </div>    
                                            </a>    
                                    </div>
                                </div>
                            </div>
                            <div class='item-container'>
                                        <div class='title-container'>BTC.com</div>
                                        <a href="https://whc.btc.com/" target='_blank'>
                                            <div class='btn-container'>
                                                    <span class='text'><%= __('website') %></span>
                                            </div>
                                        </a>
                            </div>
                            <div class='item-container'>
                                <div class='title-container'>Blockchair</div>
                                <div class='btn-body'>
                                    <div class='item-b'>
                                        <a href="http://blockchair.com/" target='_blank'>
                                            <div>
                                                <span class='text'><%= __('website') %></span>
                                            </div>
                                        </a>    
                                    </div>
                                    <div class='item-b'>
                                        <a href="https://github.com/Blockchair/Blockchair.Support" target='_blank'>
                                            <div>
                                                <span class='github-icon'></span>
                                                <span class='text'>GitHub</span>
                                            </div>    
                                        </a>    
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </section>
            <div id="about"></div>
            <section class="space--xxs about_box">
                <div class="container about_container">
                    <div class="left_about">
                        <div class="banner_back"></div>
                        <div>
                            <p class="banner" data-item="title_1">
                                <%= __('title').wormhole_protocol %>
                            </p>
                        </div>
                        <div class="left_blunk"></div>
                        <div>
                            <p class="left_con" data-item="title_1_1">
                                <%- __('title').wormhole_protocol_desc %>
                            </p>
                        </div>
                    </div>
                    <div class="right_about hidden-xs hidden-sm">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </section>
    </div>        
    <div id="futures"></div>
    <section class="space--xxs future_box">
                <div class="container">
                    <div class="row text-center">
                        <div class='col-sm-12 future_tittle_box'>
                            <div data-item="title_2" class="moblie_future_tittle visible-xs future_tittle">
                                <%= __('title').future_development %>
                            </div>
                            <div data-item="title_2" class="future_tittle hidden-xs hidden-small">
                                <%= __('title').future_development %>
                            </div>
                        </div>
                    </div>
                    <div class="row future_content_box first_row">
                        <div class="col-md-12 col-sm-12">
                            <img src="images/smart_contract.png" class="circle" alt="logo">
                            <h3>
                                <%= __('title').subTitle.permissionless_smart_contract %>
                            </h3>
                            <p>
                                <%= __('title').subTitle.permissionless_smart_contract_desc %>
                            </p>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <h3>
                                <%= __('title').subTitle.decentralized_exchange_protocol %>
                            </h3>
                            <p>
                                <%= __('title').subTitle.decentralized_exchange_protocol_desc %>
                            </p>
                            <img src="images/protocol.png" class="circle" alt="logo">
                        </div>
                    </div>
                    <div class="row future_content_box second_row">
                        <div class="col-md-12 col-sm-12">
                            <h3>
                                <%= __('title').subTitle.erc721 %>
                            </h3>
                            <p>
                                <%= __('title').subTitle.erc721_desc %>
                            </p>
                            <img src="images/ERC721.png" class="circle" alt="logo">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <h3>
                                <%= __('title').subTitle.smart_contract %>
                            </h3>
                            <p>
                                <%= __('title').subTitle.smart_contract_desc %>
                            </p>
                            <img src="images/smart_contract2.png" class="circle" alt="logo">
                        </div>
                    </div>
                </div>
    </section>
    <div class='wallet-container'>
        <div class='wallet-container-inner'>
            <div class='container'>
                    <div class='title-container'>
                            <div class='background'></div>
                            <div class='title'><%= __('wallets') %></div>
                    </div>
                    <div class='wallet-logo-container'>
                            <div class='item-container'>
                                <div class='item-body'>
                                    <a href="https://cocowallet.com.cn/" target="_blank">
                                        <div>
                                                <img src="images/cocowallet.png" alt="cocowallet" class='logo-coco'>
                                        </div>
                                    </a>
                                </div>
                                <div class='item-body'>
                                    <a href="https://bitpie.com/" target="_blank">
                                        <div>
                                                <img src="images/bitpie.png" alt="bitpie" class='logo-bitpie'>
                                        </div>
                                    </a>
                                </div>
                                <div class='item-body'>
                                    <a href="https://www.ifwallet.com/" target="_blank">
                                        <div>
                                                <img src="images/ifwallet.png" alt="ifwallet" class='logo-ifwallet'>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class='item-container'>
                                    <div class='item-body'>
                                        <a href="https://download.ibitcome.com/#/" target="_blank">
                                            <div>
                                                    <img src="images/ibitcome.png" alt="ibitcome" class='logo-ibitcome'>
                                            </div>
                                        </a>
                                    </div>
                                    <div class='item-body'>
                                        <a href="https://www.bitapp.net" target='_blank'>
                                            <div>
                                                    <img src="images/bitapp.png" alt="bitapp" class='logo-bitapp'>
                                            </div>
                                        </a>
                                    </div>
                                    <div class='item-body'>
                                        <a href="https://badgerwallet.cash/" target="_blank">
                                            <div>
                                                    <img src="images/badger.png" alt="badger" class='logo-badger'>
                                            </div>
                                        </a>
                                    </div>
                            </div>
                    </div>
                    <div class='title-container exchange'>
                            <div class='background'></div>
                            <div class='title'><%= __('exchanges') %></div>
                    </div>
                    <div class='wallet-logo-container exchange'>
                            <div class='item-container'>
                                <div class='item-body'>
                                    <a href="https://www.coinex.com/exchange?currency=bch&dest=whc&tab=limit " target="_blank">
                                        <div>
                                                <img src="images/coinex.png" alt="cocowallet" class='logo-coinex'>
                                        </div>
                                    </a>
                                </div>
                                <div class='item-body'>
                                    <a href="https://m.exnow.com/trade/whc/eth" target="_blank">
                                        <div>
                                                <img src="images/exnow.png" alt="bitpie" class='logo-exnow'>
                                        </div>
                                    </a>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<%- include('partial/footer_zh'); -%>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/js.cookie.js"></script>
<script src="js/smooth-scroll.min.js"></script>
<script src="js/fontawesome.js"></script>
<script src="js/app.js?v=0820"></script>
</body>

</html>